<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Fonts Awesome -->
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate/animate.css">
        <!-- Magnific Popup -->
       
    <title>cart1</title>
    <style>
          .pp{
        position: absolute;
        left:-3000px;
    }
    body{
        background-color:#eee;
    }
    </style>
</head>
<body>
        
    <%- include ./partials/navbar.ejs %>
    <%- include ./partials/sidebar.ejs %>
    
    
    <div class="container-fluid"  id="main" style="margin-top : 7%;">
                <!-- <div class="container"> -->
                        <%- messages('message',locals) %>
                    <!-- </div> -->
                <div style="margin-left:10%;margin-right:10%;background-color:white;border:1px solid #aaa;border-radius : 6px;box-shadow: 3px 4px 5px 4px #D8BFD8;padding: 10px 20px">
                   <% if(cart1.length) { %>
                    <h3 style="font-family:'Roboto Condensed';font-size:26px; font-weight:bold;">MY CART</h3><br>
                    <table class="table table-striped table-hover" style="border:1px solid #bbb;border-radius:12px;">
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                            <th>Subtotal</th>
                        </tr>
                        <% var total = 0 %>
                        <% for(var i = 0 ;i < cart.length ; i++) { %>
                            <% var qty = parseFloat(cart1[i].qty); %>
                            <% var price =  parseFloat(cart1[i].pprice); %> 
                            <% var sub =  parseFloat(qty * price).toFixed(2); %>   
                            <% total = parseFloat(parseFloat(total) + parseFloat(qty * price)).toFixed(2); %>    <tr>
                                <td><img src="/bookimages/<%= cart1[i].img %>" alt="" height="80px" width="80px"></td>
                                <td><h4 style="font-family:'Roboto Condensed';"><%= cart1[i].title %></h4></td>
                                <td><h4 style="font-family:'Roboto Condensed';">Rs:/-<strike><%= cart1[i].oprice %></strike>&nbsp;<%= cart1[i].pprice %></h4></td>
                                <td><h4 style="font-family:'Roboto Condensed';"><%= cart1[i].qty %></h4></td>
                                <td><a href="/update/<%= cart1[i].bookid %>/<%= cart1[i].qty %>" style="color:blue;">&nbsp;+&nbsp;</a>
                                    <a href="/updateminus/<%= cart1[i].bookid %>/<%= cart1[i].qty %>" style="color:blue;">&nbsp;-&nbsp;</a>
                                    <a href="/updatecart/<%= cart1[i].bookid %>">&nbsp;Clear&nbsp;</a></td>
                                <td><h4 style="font-family:'Roboto Condensed';"><%= sub %></h4></td>
                            </tr>                   
                        <% } %>
                        <tr>
                                <td  colspan="6" align="right"><h4 style="font-family:'Roboto Condensed';"><b>Total :</b> <%= parseFloat(total).toFixed(2) %></h4></td>
                        </tr>
                        <tr>
                            <td colspan="5" align="right">
                                <a href = "/clear" class="clearcart btn btn-danger btn-lg">Clear Cart</a>
                            </td>
                            <td>
                                 <a href = "/buynow" class="buynow btn btn-primary btn-lg">Buy Now</a>
                            </td>
                        </tr>
                    </table>
                    <!-- <form class="pp" action="https://www.sandbox.paypal.com/in/signin" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="upload" value="1">
                        <input type="hidden" name="business" value="rajinder_business@gmail.com">
                        <% for(i = 0; i < cart.length ; i++) { %>
                            <% p = i + 1 %>
                            <input type="hidden" name="item_name_<%= p %>" value="<%=  cart[i].title %>" >
                            <input type="hidden" name="amount_<%= p %>" value="<%= cart[i].pprice %>" >
                            <input type="hidden" name="quantity_<%= p %>" value="<%= cart[i].qty %>" >
                            <% } %>
                       <input type="hidden" name="currency_code" value="INR">
                       <input type="hidden" name="amount" value="<%= total %>">
                       <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                    </form>


   -->
                    <!-- <div class="row" style="background-color:ghostwhite;">
                            <% for(var i = 0 ;i < cart1.length ; i++){ %> 
                             <div class="col-md-3"  style=" float:left;height: 170px;margin-bottom: 30px;">
                                     <img height = "170px" width="100%" src="/bookimages/<%= cart1[i].bookid %>/<%= cart1[i].img %>" alt="">
                                 </div>
                                 <div class="col-md-9" style = "height:170px;margin-bottom: 30px;">
                                     <h3><%= cart1[i].title %></h3>
                                     <h4>Rs:/-<strike><%= cart1[i].oprice %></strike>&nbsp;<%= cart1[i].pprice %></h4>
                                     <h4>Quantity is : <%= cart1[i].qty %></h4><br><br>
                                     <a href="/update/<%= cart1[i].bookid %>/<%= cart1[i].qty %>" style="color:blue;">Quantity is : + &nbsp;<%= cart1[i].qty %></a>
                                     <a href="/updateminus/<%= cart1[i].bookid %>/<%= cart1[i].qty %>" style="color:blue;"> &nbsp;-</a>
                                     <a href="/updatecart/<%= cart1[i].bookid %>" role="button" class="btn btn-lg" style="float : right;background-color: dodgerblue;color : white">Remove Book</a>
                                 </div>
                                 
                                 <% } %>
         
                             </div><br>
                             <a href="" role="button" class="btn btn-lg" style="background-color: firebrick;color :#ffff;">Place Order</a> 
                             <a href="/books" role="button" class="btn btn-lg" style="background-color:greenyellow;color :#ffff;">Continue Shopping</a> -->
                             <% } else { %>
                                <br>
                                <a class="btn btn-info" href="/books">Add Books To Cart</a>
                                <br><br>
                            <div class="well" style="margin-top:10px;">
                                <h3>Cart Is Empty</h3>
                                <br>

                            </div>
                    <% } %>
                     
                </div>
                <!-- <div class="container-fluid" style="background-color : gainsboro ">
                   <% for(var i = 0 ;i < cart1.length ; i++){ %> 
                        <td><h3><%= cart1[i].bookid %></h3></td>
                        <td><h3><%= cart1[i].title %></h3></td>
                        <td><h3>Rs:/-<strike><%= cart1[i].oprice %></strike>&nbsp;<%= cart1[i].pprice %></h3></td>
                        <td><h3>Quantity is : <%= cart1[i].qty %></h3></td>
                        
                    <% } %>
                </div> -->
            </div>
            <script>
                    // $(document).ready(function(){
                    //     $('a.buynow').click(function(e){
                    //         e.preventDefault();
                    //             $('form.pp input[type="image"]').click();
                    //     });
                    // });
                </script>
</body>
</html>