<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>ViewBook</title>
    <style>
            body{
                
                background-color:#eee;
            }
    </style>
</head>
<body>
        <%- include ./partials/admin_navbar.ejs %>
        <%- include ./partials/sidebar.ejs %>
        
        <div class="container-fluid" id="main" style="margin-top:5%;">
        <div class="row">
                <div class="col-sm-12 col-sm-2 col-md-2 col-lg-2 ">
                        <a href="/addcategory" class="btn btn-success btn-lg">Add a new Category</a>
    
                </div>
                <div class="col-sm-12 col-sm-8 col-md-8 col-lg-8 ">
                        <p style="border-radius: 80px; background: #eeeeee; padding: 20px 15% 20px 15%;width: 100%;height: 30px;line-height: 2%;color: #484848;font-style: italic;                 font-weight: 600;">This section displays a list of CATEGORIES available in BookHub</p>
                </div>
            </div><br><br>
    <form action="submitviewcat">
    <table class="table table-striped table-hover text-center" border="2" height="100px" width="100%" cellspacing="7px" cellpadding="8px">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Category Id</th>
            <th class="text-center">Category Name</th>
            <th class="text-center">Delete Category</th>
            <th class="text-center">Update Category</th>
            
        </tr>
        <% for(var i=0 ; i<output.length ;i++){ %>
            <tr>
                <td><input type="checkbox" name="check" value=""></td>
                <td><%= output[i].id %></td>
                <td><%= output[i].name %></td>
                <td><a class="btn btn-danger" href="/deletecat/<%= output[i].id %>">Delete</a></td>
                <td><a class="btn btn-primary" href="/updatecat/<%= output[i].id %>">Update</a></td>
            </tr>                        
        <% } %>
    </table>
    </form>
</div>
</body>
</html>